/* styles.css */
:root {
/* CSS HEX */
--deep-teal: #5a7d7cff;
--lavender: #dadff7ff;
--jet-black: #232c33ff;
--powder-blue: #a0c1d1ff;
--pale-slate: #b5b2c2ff;
}

body {
background-color: var(--lavender);
}
h1 {
  color: var(--deep-teal);
}

.col {
  border: 1px solid red;
}